/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

button {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

/* body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
} */

#page-container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 2.5rem;
    /* Footer height */
}

#header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    position: relative;
    z-index:2;
}

#logo {
    font-size: 2.5rem;
    font-weight: bold;
}

#header #log-in {
    font-size: 1.25rem;
    background-color: #efefef;
    padding: .5rem 1rem;
}

#main-container {
    /* display: flex; */
    flex-grow: 1;
    flex-direction: column;
    background-color: #f0eef1;
    padding: 2rem;
    height: 100%;
    text-align: center;
}

#main-container #add-book {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    width: 10rem;
}

#books-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.book-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 1.25rem;
}

.book-card button {
    font-size: 1.25rem ;
    padding: 0.75rem 1rem;
}

button.read {
    background-color: #9fff9c;
}

button.unread {
    background-color: #ff9c9c;
}

#footer {
    background-color: #f0eef1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
    display: none;
    background-color: #f0eef1;
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    padding: 20px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
    width: 300px;
}

#addBookForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .input {
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
}

#error-msg {
    color: red;
    display: none;
}

.modal .is-read-query {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal .submit {
    background-color: #9fff9c;
    padding: 0.75rem 1rem;
}